<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>registrationForm</welcome-file>
    </welcome-file-list>

    <servlet>
        <description></description>
        <display-name>baiTap2</display-name>
        <servlet-name>baiTap2</servlet-name>
        <servlet-class>iuh.fit.se.tuan01.baiTap2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>baiTap2</servlet-name>
        <url-pattern>/baiTap2</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>baiTap3</display-name>
        <servlet-name>baiTap3</servlet-name>
        <servlet-class>iuh.fit.se.tuan01.baiTap3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>baiTap3</servlet-name>
        <url-pattern>/baiTap3</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>baiTap4</display-name>
        <servlet-name>baiTap4</servlet-name>
        <servlet-class>iuh.fit.se.tuan01.baiTap4</servlet-class>
        <init-param>
            <param-name>message</param-name>
            <param-value>Hello from init-param!</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>baiTap4</servlet-name>
        <url-pattern>/baiTap4</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>appName</param-name>
        <param-value>My Jakarta Servlet Application</param-value>
    </context-param>

    <servlet>
        <description></description>
        <display-name>baiTap5</display-name>
        <servlet-name>baiTap5</servlet-name>
        <servlet-class>iuh.fit.se.tuan01.baiTap5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>baiTap5</servlet-name>
        <url-pattern>/baiTap5</url-pattern>
    </servlet-mapping>

</web-app>